.CardGrid {
    /* display: grid; */
    gap: 12px;
    /* grid-template-columns: repeat(auto-fit, minmax(195px, 1fr)); */
    flex-wrap: wrap;
    align-items: flex-start;
}


.Card {
    border: 2px solid #000;
    border-radius: 4.75% / 3.5%;
}